@supports (writing-mode: sideways-lr) {
    div#bar-tab {
        writing-mode: sideways-lr;
    }
}
@supports not (writing-mode: sideways-lr) {
    div#bar-tab span {
        transform: rotateZ(-90deg);
        display: inline-block;
        margin-top: 97px;
        margin-left: -22px;
    }
    
    div#bar-tab:first-of-type span {
        margin-top: 100px;
        margin-left: -20px;
    }

    div#bar-tab:nth-of-type(2) span {
        margin-top: 96px;
        margin-left: -25px;
    }

    div#bar-tab:nth-of-type(3) span {
        margin-top: 77px;
        margin-left: -45px;
    }
}