body {
    margin: 0;
    border: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(39, 40, 34, 1);

    div#lateralBar {

        * {
            transition: .3s linear;
        }

        div#editorContainerReact {
            width: 51px;
            position: fixed;
            top: 0;
            right: 0;
            overflow: auto;
            overflow-x: hidden;
            background-color: rgba(200, 200, 200, .1);
            border-left: 1px solid silver;
            height: 100vh;
            z-index: 4;
            transition: .6s linear;

            &::before {
                content: '';
                -webkit-backdrop-filter: blur(2px);
                backdrop-filter: blur(2px);
                width: 100%;
                height: 150%;
                position: absolute;
                left: 0;
                z-index: 3; 
            }

            * {
                font-family: Candara;
                font-size: 20px;
            }
        }
    }

    div#editor { 
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        line-height: 30px;
        font-size: 20px;
        z-index: 1;
		resize: both;
		overflow: hidden;
    }

    div#tableAppend {
        height: 40px;
        padding: 10px 20px;
        position: absolute;
        z-index: 3;
        width: 270px;
        border-radius: 25px;
        bottom: 20px;
        right: 10px;
        border: 1px solid silver;
        color: #fff;
        transition: .6s ease-in-out;
        box-shadow:
            0 0 2px #fff,
            inset 0 0 2px #fff,
            0 0 3px #08f,
            inset 0 0 3px #08f,
            0 0 5px #08f,
            inset 0 0 5px #08f;

        div:first-of-type {
            float: left;
            margin-right: 20px;
        }

        svg {
            font-size: 35px;
            color: whitesmoke;
            margin-top: 2px;
            filter: ~"drop-shadow(0px 0px 4px orangered)";
            cursor: pointer;
            transition: .5s ease-in-out;

            &:hover::before {
                content: 'Hey';
                background-color: khaki;
            }

            &:not(:first-of-type) {
                margin-left: 20px;
            }

            &.fa-chevron-up {
                margin-right: -30px;
            }

            &.fa-align-right {
                margin-left: 20px;
            }

            &.fa-table,
            &.fa-save {
                filter: grayscale(1);
                opacity: .6;
                cursor: default;
            }

            &.fl {
                float: left;
            }

            &.fr {
                float: right;
            }

            &.iconHidden {
                height: 0;
            }
        }
    }

    div#table {
        position: absolute;
        width: ~"calc(100%)";
        top: ~"calc(50vh - 10px)";
        background-color: rgba(39, 40, 34, .9);
        border-top: 2px solid silver;
        height: 50vh;
        z-index: 2;
        transition: .5s ease-in-out;

        table.queryTable {
            padding: 0 0 0 0;
            width: auto;
            text-align: center;
            color: rgb(245, 245, 245);
    
            & * {
                font-family: beon;
                transition: .4s ease-out;
            }
    
            tr.queryTableHeaderRow {
                color: rgb(255, 140, 0);
                background-color: rgba(39, 40, 34, 1);
                font-weight: bold;
                position: sticky;
                top: 0;
                height: 50px;
    
                &:hover {
                    background-color: rgba(204, 112, 0, .95);
                }
    
                th {
                    cursor: pointer;

                    &:hover {
                        background-color: rgba(255, 140, 0, 1);
                        color: rgba(39, 40, 34, .8);
                    }
                }
            }
    
            tr.queryTableBodyRow {
                &:hover {
                    background-color: rgba(245, 245, 245, .4);
                }
                
                &:nth-child(odd) {
                    background-color: rgba(128, 128, 128, 0.05);

                    &:hover {
                        background-color: rgba(245, 245, 245, .4);
                    }
                }
    
                td {
                    &:hover {
                        background-color: rgba(245, 245, 245, .7);
                        color: rgba(39, 40, 34, .8);
                    }
                }
            }
    
            tr td,
            tr th {
                height: 50px;
                font-size: 20px;
                padding: 0 25px;
                cursor: default;
                max-width: 500px;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
            }
        }
    }
}